@using Semi_Webshop.ViewModels
@using Semi_Webshop.Models

@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i class="fa fa-file-movie-o"></i> Moviestore</h1>
    <h4 class="lead">Welcome to our Moviestore. Start browsing our catalog of movies</h4>
    <p><a href="@Url.Action("Index","Movies")" class="btn btn-primary btn-lg">Catalog &raquo;</a></p>
</div>

<div class="row" id="dealHandler">
    <h3 >Today's Deals</h3>
    @foreach (Serie deal in Model.Deals)
    {
        <div id="dealsDiv" class="col-md-4">
            <img class="product-minithumbnail" alt="@deal.Name" src="~/Content/ProductPics/@deal.Image" />
            <p><strong>@Html.DisplayFor(model => deal.Name)</strong> <small>@Html.DisplayFor(model => deal.Price)</small></p>
            <p><a class="btn btn-default" href="@Url.Action("Serie","Movies", new { id = deal.Id})">Details &raquo;</a></p>
        </div>
    }
</div>